<% include ./partials/header %>
<h1>Index Page</h1>

<% genres.forEach(function(genre){ %>
    <div>
        <h2> <%= genre.title %></h2>
        <img src = " <%= genre.image %>">
        <span><%= genre.created %></span>
        <p><%= genre.body.substring(0,100) %>...</p>
        <a href="/genres/<%= genre._id  %> ">Read More</a> 
    </div>
<% }); %>

<% include ./partials/footer %>