<% include ./partials/header %>
<div class="ui main container segment">
    <div class="ui huge header"><%= foundGenre.title %></div>
    <div class="ui items">
        <div class="videoContainer">
          <iframe class="video" src="https://www.youtube.com/embed/<%= foundGenre.videoEmbedLink %>"
         frameborder="0" allowfullscreen></iframe>
        </div>
      <div class="item">
        <div class="content">
          <span class ="created">
            Blog created on: <%=foundGenre.created.toDateString() %> 
          </span>
          <div class="description">
            <p><%- foundGenre.body %> </p>
          </div>
          <div class="delete-edit">
            <a class="ui orange button" href="/genres/<%=foundGenre._id%>/edit">Edit</a>
            <form class ="delete-button" action="/genres/<%=foundGenre._id%>?_method=DELETE" method="POST">
            <button class ="ui red button">Delete</button>
          </form>
          </div>
         
        </div>
      </div>
    <div>  
</div>
<% include ./partials/footer %>